.title-logo {
  height: 52.23px;
}
.navbar{
  background-color: grey;
}
.firstImage{
  width: 100%;
}
.contact{
  position: relative;
  min-height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  background-color: #ff7171;
  background-size: cover;
}
.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.text{
  font-size: 16px;
  color: #fff;
}
/* .box{
  width: 350px;
  height: 410px;
  padding: 40px;
  background: #f73859;
  text-align: right;
  color: #fff;
}

.para{
  margin-bottom: 5px;
}
a:link{
  color: #fff;
}
.thead{
  font-size: 30px;
}
.header{
  font-size: 20px;
}
.email{
  font-size: 20px;
  padding-top: 10px
}
@media (max-width: 1028px) {
  .box{
    width: 170px;
    height: 215px;
    font-size: 9px;
    padding: 10px 10px 10px 0;
  }
  .header{
    font-size: 12px;
    margin-bottom: 5px;
  }
  .thead{
    font-size: 15px;
    margin-bottom: 5px;
  }
  .email{
    font-size: 12px;
    margin-bottom: 5px;
  }
} */
